*.pyc
*.pyo

/env
/var

/public/static
/public/media

/emag/emails/engine/logs
/emag/emails/engine/run

*.swp
*.swo

/.ropeproject/
/.pydevproject
/.project
/.settings
/*.komodoproject

# TODO find which of these is the shared file, I forget at this point.
/*.wpr
/*.wpu

.zfs
tmp
