*.pyc
*.pyo

/env
/var

/public/static
/public/media

/_dev/email_engine/logs
/_dev/email_engine/run

*.swp
*.swo

/.ropeproject/
/.pydevproject
/.project
/.settings
/*.komodoproject

# TODO find which of these is the shared file, I forget at this point.
/*.wpr
/*.wpu

.zfs
tmp
